.vscode
allconfig/yazi/plugins/big-preview.yazi/*
allconfig/yazi/plugins/smart-enter.yazi/*
allconfig/yazi/plugins/mime-ext.yazi/*
allconfig/yazi/plugins/max-preview.yazi/*
allconfig/yazi/plugins/jump-to-char.yazi/*
allconfig/yazi/plugins/full-border.yazi/*


